.client {
  min-width: 200px;
  max-width: 300px;
  flex: 1;
  margin: 0.5rem;
  padding: 1rem;
  border: 1px solid #fff;
  border-radius: 10px;
  position: relative;
  background-color: #1f212a;
  transition: all 0.25s;
}

.client:hover {
  background-color: #282b35;
}
